:root {
	/* COLORS */
	--bege: #466044;
	--lightbege: #95cf81;
  }

  body, h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #cfeda7;
}

header {
  background-color: var(--bege);
	background-image: linear-gradient(
		90deg,
		var(--bege) 20%,
		var(--lightbege) 90%
	);
  color: white;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-between; /* Alinhe os elementos à esquerda e à direita */
  align-items: center; /* Alinhe verticalmente ao centro */
}

/* Estilize a imagem no cabeçalho */
.header-image {
  margin-right: 20px; /* Espaçamento à direita da logo */
}

 /* Estilize o container dos botões e do dropdown */
 .button-container {
  display: flex; /* Use flexbox para alinhar elementos em linha */
  justify-content: flex-end; /* Alinhe à direita */
  align-items: center; /* Alinhe verticalmente ao centro */
}

/* Estilize os botões */
.custom-button {
  background-color:  #d59c5f;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 10px; /* Espaçamento entre os botões */
  transition: background-color 0.3s, color 0.3s; /* Transição suave de cores */
}

.custom-button:hover {
  background-color: #cd853f; /* Cor de fundo alterada no hover */
  color: #ffffff; /* Cor do texto alterada no hover */
}

/* Estilize o dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropdown-button {
  background-color: #d59c5f;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin-right: 10px; /* Espaçamento entre os botões */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #deb887;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%; 
  font-family: 'Poppins', sans-serif;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e7af77;
}

.dropdown:hover .dropdown-content {
  display: block;
} 

/* Estilos para a imagem */
.image-container {
  text-align: center;
}

.header-image {
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura da página */
}

/* texto */
.text-below-image {
  text-align: center;
  color: #466044;
  margin-top: 55px; /* Espaço entre a imagem e o texto */
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}
.text-below-image2 {
  text-align: center;
  color: #466044;
  margin-top: 30px; /* Espaço entre a imagem e o texto */
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.text-below-image3 {
  text-align: center;
  color: #466044;
  margin-top: 90px; /* Espaço entre a imagem e o texto */
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: left;
  
}

/* Estilos para a imagem das dicas */
.imagem {
  margin-top: 30px; /* Abaixa a img */
}

/* rodape */
footer {
  text-align: center;
  padding: 20px;
  background-color: #8a9c84;
  color:white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

footer img {
  width: 100px; /* Ajuste o tamanho conforme necessário */
  margin: 2px; /* Adicione margens conforme necessário */
}

@media (max-width: 768px) {
  /* Estilos para telas menores, como smartphones */
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media (min-width: 1025px) {
  /* Estilos para desktops */
}




