:root {
    /* COLORS */
    --bege: #466044;
    --lightbege: #95cf81;
}

.box {
    border: 1px solid rgb(69, 110, 65);
    padding: 5px;
    margin: 10px;
    background-color: #edd8bc;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 4px rgba(61, 59, 59, 0.5);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9E9B0;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--bege);
    background-image: linear-gradient(
        90deg,
        var(--bege) 20%,
        var(--lightbege) 90%
    );
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-image {
    margin-right: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.custom-button {
    background-color: #d59c5f;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
    background-color: #cd853f;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropdown-button {
    background-color: #d59c5f;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #deb887;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
}

.dropdown-content a:hover {
    background-color: #e7af77;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    margin: 0;
    font-size: 24px;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #deb887;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 20px;
    color: #007BFF;
    margin-top: 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-left: 50px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

.header-image2 {
    margin-top: 5%;
    margin-left: 20%;
}

footer {
    text-align: center;
    padding: 7px;
    background-color: #8a9c84;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.collapse-button {
    background-color: #d5f1d6;
    cursor: pointer;
    padding: 20px;
    width: 60%;
    text-align: left;
    border: none;
    outline: none;
    margin-top: 10%;
    margin-left: 20%;
    font-family: 'Poppins', sans-serif;
    font-size: 140%;
}

.collapse {
    border: 1px solid #ddd;
    margin: 20px;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    transition: max-height 0.3s ease-in-out;
    border-radius: 10px; /* Adicione esta linha para bordas arredondadas */
}

.collapse-header {
    background-color: #466044;
    color: white;
    padding: 20px 40px;
    cursor: pointer;
    position: relative;
    border-radius: 10px; /* Adicione esta linha para bordas arredondadas */
}

.arrow {
    position: absolute;
    top: 30px;
    right: 35px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    transition: transform 0.3s ease;
}

.collapse-content {
    padding: 20px 40px;
    background-color: #FCFCE9;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
     border-radius: 10px; /* Adicione esta linha para bordas arredondadas */
}

.collapse.active .arrow {
    transform: rotate(180deg);
}

.collapse.active .collapse-content {
    display: block;
    max-height: 1000px;
}

.image { 
    width: 80%;
    margin-left: -15%;
    margin-top: 2%;
    height: auto;
}

.image2 {
    width: 23%;
}

.text {
    flex: 1;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center; 
    font-size: 110%; 
}