
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #466044;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}


.img svg{
    width: 500px;
}

.tela-cadastro{
    display: flex;
    align-items: center;
}

form{
    width: 360px;
    text-align: center;
}

.fingerprint{
    width: 70px;
}

form h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #deb887;
}

.input-div{
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 20px 0;
    padding: 4px 0;
    border-bottom: 2px solid #deb887;
    transition: all .5s;
}

.input-div.first{
    margin-top: 0;
}

.input-div.last{
    margin-bottom: 4px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i{
    color: #deb887;
    transition: all .5s;
}

.input{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: #466044;
    padding: .3rem .7rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #e9d0af;
}

.input-div:focus-within{
    border-bottom: 2px solid rgb(213, 156, 95);
}

.input-div:focus-within .icon i{
    color: rgb(213, 156, 95);
}

.btn{
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to right, rgb(209, 144, 79), rgb(218, 173, 119), rgb(209, 144, 79));
    background-size: 200%;
    transition: all .5s;
    font-weight: bold;
}

.btn:hover{
    background-position: right;
}

input::placeholder {
    color: #ffddae; /* Substitua #FF0000 pela cor desejada em hexadecimal ou nome da cor */
}

/* Estilo do modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilo para exibir o modal */
  .show-modal {
    display: block;
  }


@media screen and (max-width: 1050px){
    .container{
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px){
    .backshape{
        margin-bottom: 3rem;
        margin-left: 5rem;
        width: 19rem;
        height: 19rem;
    }

    form{
        width: 290px;
    }

    form h2{
        font-size: 2rem;
    }

    .img svg{
        width: 400px;
    }
}

@media screen and (max-width: 900px){
    .img{
        display: none;
    }

    .container{
        grid-template-columns: 1fr;
    }

    .tela-cadastro{
        justify-content: center;
    }

    .oculto {
        display: none;
      }
}