        /* Reset de estilos */
        :root {
            /* COLORS */
            --bege: #466044;
            --lightbege: #95cf81;
          }
        
          body, h1, h2, p {
          margin: 0;
          padding: 0;
        }
        
        body {
          font-family: 'Poppins', sans-serif;
          background-color: #cfeda7;
        }
        
        header {
          background-color: var(--bege);
            background-image: linear-gradient(
                90deg,
                var(--bege) 20%,
                var(--lightbege) 90%
            );
          color: white;
          text-align: center;
          padding: 20px 0;
          display: flex;
          justify-content: space-between; /* Alinhe os elementos à esquerda e à direita */
          align-items: center; /* Alinhe verticalmente ao centro */
        }
        
        /* Estilize a imagem no cabeçalho */
        .header-image {
          margin-right: 20px; /* Espaçamento à direita da logo */
        }
        
         /* Estilize o container dos botões e do dropdown */
         .button-container {
          display: flex; /* Use flexbox para alinhar elementos em linha */
          justify-content: flex-end; /* Alinhe à direita */
          align-items: center; /* Alinhe verticalmente ao centro */
        }
        
        /* Estilize os botões */
        .custom-button {
          background-color:  #d59c5f;
          color: #ffffff;
          font-family: 'Poppins', sans-serif;
          padding: 10px 20px;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          margin-right: 10px; /* Espaçamento entre os botões */
          transition: background-color 0.3s, color 0.3s; /* Transição suave de cores */
        }
        
        .custom-button:hover {
          background-color: #cd853f; /* Cor de fundo alterada no hover */
          color: #ffffff; /* Cor do texto alterada no hover */
        }
        
        /* Estilize o dropdown */
        .dropdown {
          position: relative;
          display: inline-block;
          margin-right: 20px;
        }
        
        .dropdown-button {
          background-color: #d59c5f;
          color: #ffffff;
          padding: 10px 20px;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          font-family: 'Poppins', sans-serif;
          margin-right: 10px; /* Espaçamento entre os botões */
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #deb887;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          top: 100%; 
          font-family: 'Poppins', sans-serif;
          border-radius: 20px;
        }
        
        .dropdown-content a {
          color: #333;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          border-radius: 20px;
        }
        
        .dropdown-content a:hover {
          background-color: #e7af77;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
        } 
        
        footer {
          text-align: center;
          padding: 20px;
          background-color: #8a9c84;
          color:white;
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
        }
        
        footer img {
          width: 100px; /* Ajuste o tamanho conforme necessário */
          margin: 2px; /* Adicione margens conforme necessário */
        }
        
        /* Responsividade */
        @media screen and (max-width: 768px) {
            header {
                padding: 10px 0;
            }
        
            header h1 {
                font-size: 24px;
            }
        }
        
        /* Estilos para o diário privado */
        .diario {
            background-color: #69915f;
            padding: 20px;
            border-radius: 30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 8%;
            margin-bottom: 10%;
        }
        
        .diario h1 {
            font-size: 28px;
            margin-top: 0;
            color: #e7b574;
            
        }
        
        .diario textarea {
            width: 97%;
            height: 200px;
            padding: 10px;
            font-size: 16px;
            border: 3px solid #466044;
            border-radius:20px;
            resize: vertical;
            font-family: 'Poppins', sans-serif;
            margin-top: 30px;
            background-color: #c4e39f;
            color:#466044;
        
        }
        
        textarea::placeholder {
            color: #466044; /* Substitua #FF0000 pela cor desejada em hexadecimal ou nome da cor */
        }
        
        
         /* Estilize o botão "Salvar" */
         input[type="submit"] {
                    background-color: #e7b574; /* Cor de fundo */
                    color: #fff; /* Cor do texto */
                    border: 3px solid  #f9e4b7;
                    padding: 10px 20px; /* Espaçamento interno */
                    border-radius: 20px; /* Cantos arredondados */
                    cursor: pointer; /* Altera o cursor ao passar o mouse */
                    font-size: 16px; /* Tamanho da fonte */
                    font-family: 'Poppins', sans-serif;
                    margin-top: 20px;
                }
        
                /* Estilize o botão "Salvar" no hover (quando o mouse passa por cima) */
                input[type="submit"]:hover {
                    background-color: #95cf81; /* Cor de fundo no hover */
                }
        
                /* Estilo para os campos de data e hora */
            input[type="text"] {
                background-color:  #f9e4b7;
                border: 3px solid #e7b574;
                padding: 10px;
                font-size: 16px;
                border-radius: 20px;
                margin: 5px 0;
                font-family: 'Poppins', sans-serif;
                margin-top: 20px;
            }
        
            /* Estilos para a lista de desabafos */
            .lista-desabafos {
                background-color: #e7b574;
                padding: 20px;
                border-radius: 30px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                margin-left: 20%;
                margin-right: 20%;
                margin-top: 8%;
                margin-bottom: 10%;
            }
        
            .lista-desabafos h2 {
                font-size: 24px;
                margin-top: 0;
                color: #466044;
            }
        
            .lista-desabafos ul {
                list-style: none; /* Remova os marcadores de lista padrão */
                padding: 0;
            }
        
            .lista-desabafos li {
                border: 2px solid #cfeda7;
                border-radius: 20px;
                padding: 10px;
                margin-bottom: 10px;
                background-color: #d59c5f;
                color: #fff;
                font-family: 'Poppins', sans-serif;
            }
        
            .lista-desabafos li strong {
                color: #cfeda7;
            }
        
            .editar-link, .excluir-link {
              margin-left: 0px;
              text-decoration: none;
              color: #cfeda7;
              font-weight: bold;
              display: block; /* Adicionado para exibir na linha abaixo */
          }
          
          .editar-link:hover, .excluir-link:hover {
              color: #e7af77;
          }

          /* Estilo para o alerta personalizado */
        .custom-alert {
          background-color: #466044; /* Cor de fundo cinza */
          color: white; /* Cor do texto branco */
          padding: 10px; /* Preenchimento interno */
          text-align: center; /* Centralizar o texto */
          position: fixed; /* Posição fixa para que o alerta fique no topo */
          top: 100px; /* Distância do topo */
          left: 50%; /* Centralizar horizontalmente no topo */
          transform: translateX(-50%); /* Centralizar horizontalmente */
          width: 20%; /* Largura do alerta */
          z-index: 9999; /* Z-index alto para sobrepor outros elementos */
          display: none; /* Oculto por padrão */
          border-radius: 10px; /* Borda arredondada com um valor menor */
          border: 1px solid #999; /* Borda com 1px de espessura */
      }

      /* Estilo para o texto do alerta */
      #custom-alert-text {
          font-size: 16px; /* Tamanho da fonte */
      }

      /* Estilo para o alerta de exclusão */
    .custom-alert-delete {
      background-color: #466044; /* Cor de fundo cinza */
          color: white; /* Cor do texto branco */
          padding: 10px; /* Preenchimento interno */
          text-align: center; /* Centralizar o texto */
          position: fixed; /* Posição fixa para que o alerta fique no topo */
          top: 100px; /* Distância do topo */
          left: 50%; /* Centralizar horizontalmente no topo */
          transform: translateX(-50%); /* Centralizar horizontalmente */
          width: 20%; /* Largura do alerta */
          z-index: 9999; /* Z-index alto para sobrepor outros elementos */
          display: none; /* Oculto por padrão */
          border-radius: 10px; /* Borda arredondada com um valor menor */
          border: 1px solid #999; /* Borda com 1px de espessura */
  }

/* Estilo para o modal de confirmação */
#deleteModal {
  background-color: #466044; /* Cor de fundo vermelho */
  color: white; /* Cor do texto branco */
  padding: 10px; /* Preenchimento interno */
  text-align: center; /* Centralizar o texto */
  position: fixed; /* Alterado para posição fixa para que o modal fique fixo no topo */
  top: 50%; /* Centralizar verticalmente */
  left: 50%; /* Centralizar horizontalmente */
  transform: translate(-50%, -50%); /* Centralizar vertical e horizontalmente */
  width: 40%; /* Aumente a largura do modal para 40% */
  max-height: 150px; /* Altura máxima do modal */
  z-index: 9999; /* Z-index alto para sobrepor outros elementos */
  display: none; /* Oculto por padrão */
  border-radius: 10px; /* Borda arredondada */
  border: 1px solid #999; /* Borda com 1px de espessura */
  overflow: hidden;
  top: 20%; /* Ajuste a porcentagem conforme necessário */
}

/* Estilo para o conteúdo do modal de confirmação */
.modal-body {
  font-size: 16px; /* Tamanho da fonte do conteúdo */
  padding: 10px; /* Preenchimento interno */
}

/* Estilo para o rodapé do modal de confirmação */
.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Margem acima dos botões */
}

/* Estilo para o botão "Cancelar" do modal de confirmação */
#modal-cancel {
  background-color: #999;
  color: white;
  border: none;
  margin-right: 5px; /* Margem direita dos botões */
  font-family: 'Poppins', sans-serif;
  padding: 5px 10px; /* Tamanho dos botões */
  cursor: pointer;
}

/* Estilo para o botão "OK" do modal de confirmação */
#modal-ok {
  background-color: #5cb85c;
  color: white;
  border: none;
  font-family: 'Poppins', sans-serif;
  padding: 5px 10px; /* Tamanho dos botões */
  cursor: pointer;
}



  /* Estilo para o alerta de edição */
.custom-alert-edit {
  background-color: #4CAF50; /* Cor de fundo verde */
  color: white; /* Cor do texto branco */
  padding: 10px; /* Preenchimento interno */
  text-align: center; /* Centralizar o texto */
  position: fixed; /* Posição fixa para que o alerta fique no topo */
  top: 100px; /* Distância do topo */
  left: 50%; /* Centralizar horizontalmente no topo */
  transform: translateX(-50%); /* Centralizar horizontalmente */
  width: 20%; /* Largura do alerta */
  z-index: 9999; /* Z-index alto para sobrepor outros elementos */
  display: none; /* Oculto por padrão */
  border-radius: 10px; /* Borda arredondada com um valor menor */
  border: 1px solid #3C903D; /* Borda com 1px de espessura em uma cor mais escura */
}

/* Estilo para o texto do alerta de edição */
#custom-alert-text-edit {
  font-size: 16px; /* Tamanho da fonte */
}