        /* Reset de estilos */
        :root {
            /* COLORS */
            --bege: #466044;
            --lightbege: #95cf81;
          }
        
          body, h1, h2, p {
          margin: 0;
          padding: 0;
        }
        
        body {
          font-family: 'Poppins', sans-serif;
          background-color: #cfeda7;
        }
        
        header {
          background-color: var(--bege);
            background-image: linear-gradient(
                90deg,
                var(--bege) 20%,
                var(--lightbege) 90%
            );
          color: white;
          text-align: center;
          padding: 20px 0;
          display: flex;
          justify-content: space-between; /* Alinhe os elementos à esquerda e à direita */
          align-items: center; /* Alinhe verticalmente ao centro */
        }
        
        /* Estilize a imagem no cabeçalho */
        .header-image {
          margin-right: 20px; /* Espaçamento à direita da logo */
        }
        
         /* Estilize o container dos botões e do dropdown */
         .button-container {
          display: flex; /* Use flexbox para alinhar elementos em linha */
          justify-content: flex-end; /* Alinhe à direita */
          align-items: center; /* Alinhe verticalmente ao centro */
        }
        
        /* Estilize os botões */
        .custom-button {
          background-color:  #d59c5f;
          color: #ffffff;
          font-family: 'Poppins', sans-serif;
          padding: 10px 20px;
          border: none;
          border-radius: 7px;
          cursor: pointer;
          margin-right: 10px; /* Espaçamento entre os botões */
          transition: background-color 0.3s, color 0.3s; /* Transição suave de cores */
        }
        
        .custom-button:hover {
          background-color: #cd853f; /* Cor de fundo alterada no hover */
          color: #ffffff; /* Cor do texto alterada no hover */
        }
        
        /* Estilize o dropdown */
        .dropdown {
          position: relative;
          display: inline-block;
          margin-right: 20px;
        }
        
        .dropdown-button {
          background-color: #d59c5f;
          color: #ffffff;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-family: 'Poppins', sans-serif;
          margin-right: 10px; /* Espaçamento entre os botões */
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #deb887;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          top: 100%; 
          font-family: 'Poppins', sans-serif;
        }
        
        .dropdown-content a {
          color: #333;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown-content a:hover {
          background-color: #e7af77;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
        } 
        
        footer {
          text-align: center;
          padding: 20px;
          background-color: #8a9c84;
          color:white;
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
        }
        
        footer img {
          width: 100px; /* Ajuste o tamanho conforme necessário */
          margin: 2px; /* Adicione margens conforme necessário */
        }
        
        /* Responsividade */
        @media screen and (max-width: 768px) {
            header {
                padding: 10px 0;
            }
        
            header h1 {
                font-size: 24px;
            }
        }

        .diario {
            background-color: #69915f;
            padding: 20px;
            border-radius: 30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 8%;
            margin-bottom: 10%;
        }
        
        .diario h1 {
            font-size: 28px;
            margin-top: 0;
            color: #e7b574;
        }
        
        .diario textarea {
            width: 97%;
            height: 200px;
            padding: 10px;
            font-size: 16px;
            border: 3px solid #466044;
            border-radius: 20px;
            resize: vertical;
            font-family: 'Poppins', sans-serif;
            margin-top: 30px;
            background-color: #c4e39f;
            color: #466044;
        }
        
        textarea::placeholder {
            color: #466044;
        }
        
        /* Estilize o botão "Salvar" */
        input[type="submit"] {
            background-color: #e7b574;
            color: #fff;
            border: 3px solid #f9e4b7;
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            margin-top: 20px;
        }
        
        /* Estilize o botão "Salvar" no hover (quando o mouse passa por cima) */
        input[type="submit"]:hover {
            background-color: #95cf81;
        }
        
        /* Estilo para o link "Cancelar" */
        .cancelar-link {
            background-color: #e7b574;
            color: #fff;
            border: 3px solid #f9e4b7;
            padding: 10px 20px;
            border-radius: 20px;
            text-decoration: none;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            margin-top: 20px;
            display: inline-block;
        }
        
        /* Estilo para o link "Cancelar" no hover (quando o mouse passa por cima) */
        .cancelar-link:hover {
            background-color: #95cf81;
        }