:root {
  /* COLORS */
  --bege: #466044;
  --lightbege: #95cf81;
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #cfeda7;
}

header {
  background-color: var(--bege);
  background-image: linear-gradient(90deg, var(--bege) 20%, var(--lightbege) 90%);
  color: white;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-between; /* Alinhe os elementos à esquerda e à direita */
  align-items: center; /* Alinhe verticalmente ao centro */
}

.header-image {
  margin-right: 20px; /* Espaçamento à direita da logo */
}

.button-container {
  display: flex; /* Use flexbox para alinhar elementos em linha */
  justify-content: flex-end; /* Alinhe à direita */
  align-items: center; /* Alinhe verticalmente ao centro */
}



.botaocadastro, .botaologin {
background-color: #efcf6e;
color: #ffffff;
font-family: 'Poppins', sans-serif;
font-size: 15px;
width: 200px;
height: 40px; /* Aumentando a altura para 60 pixels */
border: none;
border-radius: 20px;
cursor: pointer;
margin-right: 35px;
transition: background-color 0.3s, color 0.3s;
}





.custom-button:hover {
  background-color: #cd853f; /* Cor de fundo alterada no hover */
  color: #ffffff; /* Cor do texto alterada no hover */
}

.image-container {
  text-align: center;
}

.header-image {
  max-width: 100%;
}

.text-below-image {
  text-align: center;
  color: #466044;
  margin-top: 55px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-below-image2 {
  text-align: center;
  color: #466044;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

footer {
  text-align: center;
  padding: 16px;
  background-color: #8a9c84;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

footer img {
  width: 100px;
  margin: 2px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #cfeda7;
  overflow: hidden;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(90deg, var(--bege) 20%, var(--lightbege) 90%);
  z-index: 0;
}

.item-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('sua-imagem-de-fundo.jpg') no-repeat center center;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.news-slider {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #f0d47e;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10%;
}

.news-slider__wrp {
  display: flex;
  transition: 0.5s;
}

.news-slider__item {
flex: 0 0 calc(33.33% - 20px); /* Reduzi o tamanho dos cards para cerca de 33.33% da largura do contêiner */
display: flex;
flex-direction: column;
justify-content: space-between;
background: #ffffff;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
border-radius: 10px;
margin: 10px;
transition: 0.3s;
}


.news-slider__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.news__txt {
  font-family: 'Poppins', sans-serif;
  color: #466044;
  font-size: 16px;
  margin: 0;
}

.news__img {
  max-width: 100%;
  margin-top: 10px;
}


.image1 {

width: 50%;
margin-left: 25%;
margin-top: 2%;
height: auto;

}

.img{
  width: 71%;
  margin-left: 12%;
  
}

.imgquiz{
  width: 71%;
  margin-left: 12%;
  margin-top: 8%;
  margin-bottom: 7%;
  
}


.text {
  flex: 1; /* Permite que o texto ocupe o espaço restante */
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  text-align: center; 
  font-size: 115%; 
}

.swiper-button-prev, .swiper-button-next {
  color: #004225; /* Cor verde escura personalizada */
  font-size: 24px; /* Tamanho do ícone */
}