        /* Reset de estilos */
        :root {
          /* COLORS */
          --bege: #466044;
          --lightbege: #95cf81;
          }
        
          body, h1, h2, p {
          margin: 0;
          padding: 0;
        }
        
        body {
          font-family: 'Poppins', sans-serif;
          background-color: #cfeda7;
        }
        
        header {
          background-color: var(--bege);
          background-image: linear-gradient(
            90deg,
            var(--bege) 20%,
            var(--lightbege) 90%
          );
          color: white;
          text-align: center;
          padding: 20px 0;
          display: flex;
          justify-content: space-between; /* Alinhe os elementos à esquerda e à direita */
          align-items: center; /* Alinhe verticalmente ao centro */
        }
        
        /* Estilize a imagem no cabeçalho */
        .header-image {
          margin-right: 20px; /* Espaçamento à direita da logo */
        }
        
         /* Estilize o container dos botões e do dropdown */
         .button-container {
          display: flex; /* Use flexbox para alinhar elementos em linha */
          justify-content: flex-end; /* Alinhe à direita */
          align-items: center; /* Alinhe verticalmente ao centro */
        }
        
        /* Estilize os botões */
        .custom-button {
          background-color:  #d59c5f;
          color: #ffffff;
          font-family: 'Poppins', sans-serif;
          padding: 10px 20px;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          margin-right: 10px; /* Espaçamento entre os botões */
          transition: background-color 0.3s, color 0.3s; /* Transição suave de cores */
        }
        
        .custom-button:hover {
          background-color: #cd853f; /* Cor de fundo alterada no hover */
          color: #ffffff; /* Cor do texto alterada no hover */
        }
        
        /* Estilize o dropdown */
        .dropdown {
          position: relative;
          display: inline-block;
          margin-right: 20px;
        }
        
        .dropdown-button {
          background-color: #d59c5f;
          color: #ffffff;
          padding: 10px 20px;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          font-family: 'Poppins', sans-serif;
          margin-right: 10px; /* Espaçamento entre os botões */
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #deb887;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          top: 100%; 
          font-family: 'Poppins', sans-serif;
          border-radius: 20px;
        }
        
        .dropdown-content a {
          color: #333;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          border-radius: 20px;
        }
        
        .dropdown-content a:hover {
          background-color: #e7af77;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
        } 
        
        footer {
          text-align: center;
          padding: 20px;
          background-color: #8a9c84;
          color:white;
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
        }
        
        footer img {
          width: 100px; /* Ajuste o tamanho conforme necessário */
          margin: 2px; /* Adicione margens conforme necessário */
        }
        
        /* Responsividade */
        @media screen and (max-width: 768px) {
            header {
                padding: 10px 0;
            }
        
            header h1 {
                font-size: 24px;
            }
        }
        
        .relato-container {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            max-width: 1100px; /* Reduzimos o tamanho máximo do container de relatos */
            margin: 0 auto;
            overflow-x: hidden;
            margin-bottom: 5%;
        }
        
        
        
        .relato {
            flex: 1;
            max-width: calc(30% - 20px); /* Reduzimos o tamanho máximo para os containers de relatos */
            background-color: #f0f0f0;
            border: 1px solid #1d4f19;
            border-radius: 20px;
            padding: 20px;
            margin: 0 10px 0 0;
            text-align: center;
            word-wrap: break-word;
        }
        
        
        .relato:first-child {
            margin-left: 0;
        }
        
        .relato:last-child {
            margin-right: 0;
        }
        
        
        .nome {
            font-weight: bold;
            color: #333;
        }
        
        .relato p {
            font-style: italic;
            margin-top: 10px; /* Espaçamento superior para o texto do relato */
        }
        
                .image1 {
                
                width: 35%;
                margin-left: 32%;
                margin-top: 2%;
                margin-bottom: 4%;
                height: auto;
                
            }
            .image2 {
                    width: 23%;
                }
        
            .text {
                    flex: 1; /* Permite que o texto ocupe o espaço restante */
                    margin-left: 10%;
                    margin-right: 10%;
                    text-align: center; 
                    font-size: 110%; 
                    margin-bottom: 5%;
                }
                .image3 {
                
                width: 60%;
                margin-left: 20%;
                margin-top: 2%;
                margin-bottom: 0%;
                height: auto;
                
            }