   /* Reset de estilos */
   :root {
    /* COLORS */
    --bege: #466044;
    --lightbege: #95cf81;
  }
  
  body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #cfeda7;
  }
  
  header {
    background-color: var(--bege);
    background-image: linear-gradient(90deg, var(--bege) 20%, var(--lightbege) 90%);
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilize a imagem no cabeçalho */
  .header-image {
    margin-right: 20px;
  }
  
  /* Estilize o container dos botões e do dropdown */
  .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  /* Estilize os botões */
  .custom-button {
    background-color:  #d59c5f;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .custom-button:hover {
    background-color: #cd853f;
    color: #ffffff;
  }
  
  /* Estilize o dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  
  .dropdown-button {
    background-color: #d59c5f;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #deb887;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
  }
  
  .dropdown-content a:hover {
    background-color: #e7af77;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #8a9c84;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 20px;
  }
  
  footer img {
    width: 100px;
    margin: 2px;
  }
  
  /* Responsividade */
  @media screen and (max-width: 768px) {
    header {
      padding: 10px 0;
    }
  
    header h1 {
      font-size: 24px;
    }
  }
  
  .container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-top: 3%;
    margin-right: 10%;
  }
  
  .containerobjetivotexto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-top: 4%;
    margin-right: 17%;
  }
  
  
  .containeroqeh {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-top: -3%;
    margin-right: 10%;
  }
  
  .containeritems {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-top: 3%;
    margin-right: 10%;
  }
  .containerpsi {
    display: flex;
    align-items: center;
    
    margin-bottom: 20px;
    margin-left: 15%;
    margin-top: -5%;
    margin-right: 10%;
  }
  
  
  
  .containertitle {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-top: 6%;
    margin-right: 10%;
  }
  
  .containertitle2 {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    margin-left: 50%;
    margin-top: 6%;
    margin-right: 15%;
  }
  
  .image {
    width: 90%;
    margin-left: 3%;
    height: auto;
    margin-top: -10;
  }
  
  .image1 {
    width: 28%;
    height: auto;
    margin-top: auto;
   
  }
  
  .image2 {
    width: 35%;
    height: auto;
    margin-top: -5%;
  }
  .imagelotus {
    width: 16%;
    height: auto;
    margin-left: 37%;
  }
  .imagetitle {
    width: 40%;
    height: auto;
    margin-top: 0; 
    vertical-align: middle; /* Alinhe verticalmente a imagem */
    margin-right: 10% ;
    
  }
  
  .imagenois {
    width: 50%;
    margin-right: 10% ;
    margin-left: 13%;
    margin-top: -5%;
    margin-bottom: 3%;
  }
  
  
  .text {
    flex: 1;
    margin-left: 10%;
    text-align: justify;
    margin-left: 10%;
  }
  
  .text2 {
    flex: 1;
    margin-right: 22px; /* Adicione um espaço à esquerda para o texto */
    text-align: justify;
    margin-top: -3%; /* Remova o margin-top do texto */
    font-size: 20px;
  }
  
  .text3 {
    flex: 1;
    margin-left: 40px; /* Adicione um espaço à esquerda para o texto */
    text-align: justify;
    margin-top: -3%; /* Remova o margin-top do texto */
    font-size: 20px;
    margin-right: -3%;
  }
  
  .container2 {
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    background: #e4d87c;
    padding: 40px;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #466044;
  }
  
  .containerobjetivo {
    display: flex;
    align-items: center;
    margin-bottom: -5%;
    margin-left: -5%;
    margin-top: 10%;
    margin-right: 10%;
    justify-content: flex-end; /* Alinhe o conteúdo à direita */
  }
  
  .imagem-objetivo {
    width: 40%; /* Define a largura igual à imagem "oqsignifica" */
    height: auto;
    vertical-align: middle; /* Alinhe verticalmente a imagem */
   
  }
  
  .justificado {
    text-align: justify;
    margin-top: 10px;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #d59c5f;
    border-radius: 15px;
    resize: none;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    color: #466044;
    font-weight: bold;
  }
  
  /* Estilize o botão de enviar do formulário "Fale Conosco" com uma classe */
  .custom-submit-button {
    background-color: #d59c5f; /* Cor de fundo */
    color: #466044; /* Cor do texto */
    border: 3px solid  #f9e4b7;
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 20px; /* Cantos arredondados */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
    font-size: 16px; /* Tamanho da fonte */
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .custom-submit-button:hover {
    background-color: #95cf81;
  }

  /* Estilo para o alerta personalizado */
.custom-alert {
  background-color: #466044; /* Cor de fundo cinza */
  color: white; /* Cor do texto preto */
  padding: 10px; /* Preenchimento interno */
  text-align: center; /* Centralizar o texto */
  position: fixed; /* Alterado para posição fixa para que o alerta fique fixo no topo */
  top: 100px; /* Distância maior do topo */
  left: 50%; /* Centralizar horizontalmente no topo */
  transform: translateX(-50%); /* Centralizar horizontalmente */
  width: 20%; /* Largura de 40% (diminuída) */
  z-index: 9999; /* Z-index alto para sobrepor outros elementos */
  display: none; /* Oculto por padrão */
  border-radius: 10px; /* Borda arredondada com um valor menor */
  border: 1px solid #999; /* Borda com 1px de espessura */
}

/* Estilo para o texto do alerta */
#custom-alert-text {
  font-size: 16px; /* Tamanho da fonte */
}
  